#     Murder Mystery configuration file
#
#    You can edit here the basic things of MM
#      Please read everything CAREFULLY!
#   You don't want to break anything, do you?
#

# Select locale of MurderMystery, default it's English.
# Available locales:
#    default - English language. Uses 'language.yml'.
#    de - Deutsche sprache          pl - Język polski
#    fr - Langue française          cn - 简体中文
#    zh_tw - 中文(繁體)              kr - 한국어
#    id - Bhasa Indonesia           hu - Magyar nyelv
#    cs - Český jazyk               ro - Limba română
#    vn - Tiếng Việt                it - Lingua italiana
#    ru - Русский язык              es - Idioma español
#    nl - Nederlandse taal          pt_br - Português (Brasil)
#    tr - Türk dili                 sk - Slovenský jazyk
locale: default

# Enable bossbar support?
Bossbar-Enabled: true

# How many seconds game should take to start.
Starting-Waiting-Time: 60

# Lobby waiting time set when lobby max players number is reached, used to start game quicker.
Start-Time-On-Full-Lobby: 15

# How many seconds classic game should play.
Classic-Gameplay-Time: 270

# Should we hook into bungee cord? (If you wanna use arena per server option)
# You STILL need to use external addon for HUB server game signs
# Murder Mystery doesn't offer that addon.
# Check here for more info: https://wiki.plajer.xyz/minecraft/murdermystery/addons.php#bungee-signs-not-official
BungeeActivated: false

# Enable this option when you're using MySQL, otherwise it won't work.
# Be careful when changing this because there is NO migrator between
# flat file and MySQL for player stats.
DatabaseActivated: false

# Enable Inventory Manager for your games? (VERY USEFUL feature for MULTI ARENA)
# This saves inventory of players and restores it after player leaves arena.
# Saved elements: max health, health, food, experience, full inventory, armor contents, fire ticks, active potions, gamemode
InventoryManager: true

# Should in-game chat format be enabled?
# You can edit the formatting in language.yml
ChatFormat-Enabled: true

# Should we override corpses spawn from CorpsesReborn plugin?
# When player will die outside game corpse won't be spawned!
# Disable this if you don't want this!
# WARNING: If disabled, two corpses will be spawned when player in-game dies
Override-Corpses-Spawn: true

# Which item should be your Murderer sword?
Murderer-Sword-Material: IRON_SWORD

# How many blocks per tick sword thrown by murderer should fly
# Please avoid high values as it might look like the sword is
# blinking each tick
Murderer-Sword-Speed: 0.65

#How long should be the sword attack after throw cooldown in seconds?
#Its normal lower than Murderer-Sword-Fly-Cooldown!
Murderer-Sword-Attack-Cooldown: 1

#How long should be the sword fly cooldown in seconds?
Murderer-Sword-Fly-Cooldown: 5

#How much arrows should a player with bow gets when he pick up a gold ingot?
Detective-Gold-Pick-Up-Arrows: 1

#How much arrows should the detective gets on game start or when a player get a bow?
Detective-Default-Arrows: 3

#How much arrows should the player get when the prayer gives a bow to him?
Detective-Prayer-Arrows: 2

#How long should be the bow shoot cooldown in seconds?
Detective-Bow-Cooldown: 5

#How many murderer should be ingame? This means one murderer for that amount of players.
#Default: 5 players are 1 murderer, that means if we have 14 Players it will calculate 2 murderer!
Player-Per-Murderer: 5

#How many detectives should be ingame? (Same configuration as Player-Per-Murderer)
Player-Per-Detective: 7

# Basic permissions for game, permissions explained here: https://wiki.plajer.xyz/minecraft/murdermystery/cmds_and_perms.php#basic-permissions
Basic-Permissions:
  Full-Games-Permission: "murdermystery.fullgames"
  # <arena> represents arena name (NOT MAP NAME!), for example: 'murdermystery.join.MM02'
  # use 'murdermystery.join.*' to enable access to all arenas
  Join-Permission: "murdermystery.join.<arena>"

# Should /mm leave command be blocked?
Disable-Leave-Command: false

# Should players get no fall damage?
Disable-Fall-Damage: false

# Commands which can be used in game, remove all of them to disable
Whitelisted-Commands:
  - me
  - help

# Enable in game rewards? See rewards.yml for more...
Rewards-Enabled: false

# Should we block every not Murder Mystery associated commands in game?
Block-Commands-In-Game: true

# Should we fire some cool fireworks at location of every player after the game ends?
Firework-When-Game-Ends: true

# Should players' name tags in game be hidden?
Nametags-Hidden: true

# Should blocks behind game signs change their color based on game state?
# They will change color to:
# - white (waiting for players) stained glass
# - yellow (starting) stained glass
# - orange (in game) stained glass
# - gray (ending) stained glass
# - black (restarting) stained glass
Signs-Block-States-Enabled: true

Update-Notifier:
  # Should we check for updates on plugin start/after admin join?
  # You REALLY should have this true!
  Enabled: true
  # Should we inform you when beta version is out?
  # BETA IS NOT ALWAYS AS STABLE AS NORMAL RELEASE!
  Notify-Beta-Versions: true

# Don't modify.
Version: 9

# No way! You've reached the end! But... where's the dragon!?